####  Yesterday's test on basics 1:2:3problems

In [11]:
# Reversing the digits
# 123 
text= input()
reverse_text=text[::-1]
#print(reverse_text)
for char in reverse_text:
    print(char)

123
3
2
1

In [8]:
a=[print(char) for char in (input()[::-1])]

123
3
2
1

In [ ]:
#input6
#output 6 5 4 3 2 1 

n=int(input())
count=0
for i in range(n):

In [10]:
#Ayyappa Bandi
#B. Ayyappa
f_lname=input()
lname,fname=f_lname.split(" ")[::-1]
print(lname[0],fname,sep='. ')

Ayyappa Bandi
B. Ayyappa

In [14]:
# average of marks 90 80 100
marks=input()
marks_list=list(map(int, marks.split()))
print(sum(marks_list)//len(marks_list))

90 80 100
90

In [63]:
n= input()   # for average
z=n.split(" ")
intvalues=list(map(int, z))
count=0
sum=0
for i in intvalues:
    sum=sum+i
    count=count+1
print(sum//count)

1,2,3

TypeError: 'list' object is not callable

In [17]:
# Nimmana Prasanth
a=input()
lastname,firstname=a.split(" ")[::-1]
print(lastname[0],firstname,sep='. ')

Prasanth Nimmana
N. Prasanth

In [ ]:
s=input()
print(s)

In [4]:
s='1'
s1='2'
print(int(s)+int(s1))

3

### STrings in Pyhton

In [19]:
s='python programming'
len(s)

18

In [7]:
s[3]

'h'

In [8]:
s[-18]

'p'

In [9]:
s[0]='a'

TypeError: 'str' object does not support item assignment

In [23]:
s[::-1]

'gnimmargorp nohtyp'

In [12]:
s[0:6]

'python'

In [22]:
s[7:17:2]

'pormi'

### String Method

In [27]:
s="python"
print(s.upper())
print(s)

PYTHON

In [28]:
s="python"    # to change input
s=(s.upper())
print(s)

PYTHON

In [31]:
s.lower()

'python'

### str.startswith(sub_string)

In [33]:
s='python'
print(s.startswith('p'))

True

In [34]:
s='Python'
print(s.startswith('p'))

False

In [50]:
main='Python'.lower()                           ##changing sub string into lower case
sub='p'.lower()
print(main.startswith(sub))

True

In [52]:
main= 'python programming'
print(main.startswith('python'))

True

In [53]:
main= 'python programming'
print(main.startswith('programming'))

False

In [54]:
main='programming'
print(main.endswith('ing'))

True

In [55]:
main='programming'
print(main.endswith('gram'))

False

In [56]:
s='123'
print(s.isdigit())

True

In [58]:
s='123qer'
print(s.isdigit())

False

In [60]:
s=input('enter number')
if s.isdigit():
    print('success',int(s))
else:
    print("not a valid input")

enter numberlugu23
not a valid input

#### str.split

In [63]:
s='python programming'
result=s.split()
#print(result,type(result))
print(result[1])

['python', 'programming'] <class 'list'>
programming

### str.lstrip()

removes the space before(left)the string

In [64]:
s="      prasanth "
result=s.lstrip()
print(len(s),len(result),result)

15 9 prasanth

In [65]:
s='prasanth          '
result=s.rstrip()
print(len(s),len(result),result)

18 8 prasanth

In [71]:
s='  prasanth  '  #  removing both sides spaces amidst the string
result=s.lstrip()
result=result.rstrip()
print(len(s),len(result),result)

12 8 prasanth

## str.strip()

In [73]:
#  removing both sides spaces amidst the string
s= '  prasanth  '
result=s.strip()
print(len(s),len(result),result)

12 8 prasanth

# str.isupper()

In [74]:
s='PYTHON'
result=s.isupper()
print(result)

True

### str.islower

In [78]:
s= 'ulfa'
s1="ULFA"
p=s.islower()
print(p)

True

# str.isalpha-->checks is there alphabets in string

In [80]:
s='alphabets123'
z=s.isalpha()
print(z)

False

### str.swapcase()--> changes small to big and vice versa

In [81]:
s='pythonPROGRAMMNING'
z=s.swapcase()
print(z)

PYTHONprogrammning

### str.title()

In [85]:
s='wython arogramming'
m=s.title()
print(m)

Wython Arogramming

## str.find(sub_string)--> to find something in main string

In [2]:
s='there is jungle called lamba'
print(s.find('jungle'))    #  finds the first-position of a substring(searched item)

9

### str.replace(old,new)  replace the new one within the old value

In [3]:
s= 'prabanth'
print(s.replace('ba','sa'))

prasanth

### str.rfind()  --> finds with right to left

In [5]:
s='python programming'
print(s.rfind('o'))

9

#### str.index()--> gives the index of given a string

In [8]:
text='namaskaram'
print(text.index('a'))  ## gives first matched index not all other same char..

1

### "(some synbol which seperates)".join(collection of items or string)

In [12]:
string=['p','r','o','g','r','a','m','m','i','n','g']
print("|".join(s))

p|y|t|h|o|n| |p|r|o|g|r|a|m|m|i|n|g

### str.capitalize()

In [15]:
text='apssdc andhra pradesh state skill development corporation'
print(text.capitalize())

Apssdc andhra pradesh state skill development corporation

### text.title()  difference between title&capitalize

In [17]:
text.title()

'Apssdc Andhra Pradesh State Skill Development Corporation'

###  list(s)  -->convert a string into a list

In [21]:
s='python'
print(list(s))

['p', 'y', 't', 'h', 'o', 'n']

In [22]:
t=2
n=5
for i in range(1,n+1):
    print(t,"*","i","+",t*i)

2 * i + 2
2 * i + 4
2 * i + 6
2 * i + 8
2 * i + 10

#### Data Structures---> different data types can we bear in this like int,characters,floats other special char..

In [33]:
li=[1, 'abc', 45.4]
li
li.append(23)
li.insert(2,25)
li

[1, 'abc', 25, 45.4, 23]

#### list.append("value/float/str")

In [34]:
li=[1, 'abc', 45.4]
li
li.append(23)

li

[1, 'abc', 45.4, 23]

##### list.insert(position ,insertion value)-->

In [35]:
li=[1, 'abc', 45.4]
li.insert(2,25)
li

[1, 'abc', 25, 45.4]

#### list updating

In [37]:
li[3]=4
li

[1, 'abc', 25, 4]

#### Delete the list

In [38]:
li.pop()  ## deletes the last position when use ".pop()"

4

In [41]:
li.pop(1)

'abc'

In [42]:
li

[1, 25]

In [47]:
li.remove(1)
li

[25]

In [50]:
li.clear()  # clear is delete every element in the list

In [51]:
li

[]

In [55]:
li=[12,23,43]
del li[0]  #   deletes only indexed item
li

[23, 43]

### list.sort  --> sorts the list

In [4]:
li=[12,43,56,38,18]
li.sort()
li

[12, 18, 38, 43, 56]

## reverse the elements in a list

In [6]:
li[::-1]  ## reverse the list

[56, 43, 38, 18, 12]

In [8]:
li.sort(reverse=True)
li

[56, 43, 38, 18, 12]

In [12]:
print(li)
li.reverse()
li

[12, 18, 38, 43, 56]

[56, 43, 38, 18, 12]

##### copy list

In [31]:
li=[1,3,5,7]
li1=li
print(li1)

[1, 3, 5, 7]

#### list extend --> extends the list with other list

In [32]:
print(li1)
p=[4,9]
li1.extend(p)
print(li1)

[1, 3, 5, 7]
[1, 3, 5, 7, 4, 9]

##### li.append() --> append or add the list as a sublist

In [33]:
li1.append(p)  # appends the data as a sublist
print(li1)

[1, 3, 5, 7, 4, 9, [4, 9]]

##### li[-1]   -->gives last index value

In [36]:
li1[-1]  # gives the last index of value[-1]

[4, 9]

##### li[0]   -->gives first index value

In [35]:
li1[0]    # gives the first index value[0]

1

In [37]:
li1.count(9)  # count the repeated values not index

1

In [52]:
li=[1,2,3,9,8,7,6]
i=[5,4,3,2,1]
i=i[::-1]
for i in [5,4,3,2,1]:
    li.insert(6,i)
print(li)

[1, 2, 3, 9, 8, 7, 1, 2, 3, 4, 5, 6]

In [53]:
print(sum(li),min(li),max(li))

51 1 9

In [54]:
#  creating empty list

list=list()
list

[]

In [58]:
## average

t=int(input())
i=list(map(int,input().split()))
#def average():
for i in range(t):
    
    
    sum=0
    count=0
    for i in range(t):
        sum=sum+i
        count=count+1
        a=(sum//count)
    return
print(a)

3

NameError: name 'a' is not defined