## Python Data types - 4               
#### Date:26-6-2019 varied practice from Basics
 - Integer
 - string
 - float
 - boolean

In [1]:
c = 0
c=5/2
type(c)

float

In [2]:
name, rollno, age = 'python', 123, 23.5
print(type(name),type(rollno),type(age))

<class 'str'> <class 'int'> <class 'float'>

In [3]:
a, b=10,20
print(a,b)
a,b=b,a
print(a,b)

10 20
20 10

In [4]:
### Arthimatic operations and relational operation
+,-,/,* --> for Arthimetic
logical operational--> <,>

SyntaxError: invalid syntax (<ipython-input-4-5ca44c604e04>, line 2)

#### membership operarors are  (in, not in)
5 in [1,2,3,4]
output False

#### identity operators = (is, isnot) , == too

5 is 10
output=false

### Conditinal statements--> For,While.if.else

In [9]:
if (5<6):
    print(True)
elif(6<7):
    print("true")
else:
    print(False)

True

#### compare onemore condition we use elif in python

####  Iterative statements: for ,while

In [12]:
range(10)

range(0, 10)

In [14]:
range(2,10,2)  #3perameters can we pass to a range 3rd perameter is the increment

range(2, 10, 2)

In [18]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [19]:
for i in range(2,10,2):
    print(i, end=" ")     # to get data in linewise we use end=" " or , in quote marks

2 4 6 8

In [ ]:
#while
num=1
while num<6:
    print(num)
    num=num+1

In [1]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [2]:
    for i in range(10,4):    #basically ints are increases with one thats why it cant goes forward from (10-4)
        print(i)             #untill give a third perameter -1 to go backward from 10-4

In [3]:
for i in range(10,4,-1):
    print(i)

10
9
8
7
6
5

In [4]:
for i in "hai":
    print(i)

h
a
i

In [5]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
len('210')

3

In [9]:
print(1,2)

1 2

In [16]:
print(1,10,sep=",",end='*')    #delimeters ,

print(3,4,end=",")

1,10*3 4,

In [15]:
print(3,sep=";")

3

In [20]:
n=input("enter value")
print(n,type(n))

enter value123.1
123.1 <class 'str'>

In [26]:
1+int(2)

3

In [29]:
num=10
print(num)
print(Num)

10

NameError: name 'Num' is not defined

In [34]:
l=[1,10,20]
l[3]

IndexError: list index out of range

In [ ]:
4 5 6 7 8 
6

In [45]:
n=[1,2,3,4]
len(n)

4

In [43]:
n= 'ramprasad'
len(n)

9

In [53]:
data=input()
len(data.split())      # split() is used for split is in string type gives output the data as list

3 2 5 6

4

In [54]:
data.split(" ")  #split is used in strings only to split the data as a list

['3', '2', '5', '6']

In [62]:
data=input()
count=0
for char in data.split(" "):
    count=count+1
print(count)

2 5 6
3

In [63]:
for i in 1,2,3:
    print(i)
print(i)

1
2
3
3

In [64]:
n=1,2,3,4,5
sum(n)

15

In [81]:
n=[1,2,3,4]
def sum(n):
    count=0
    for i in n:
        count=count+i
    print(count)
sum(n)

10

In [76]:
data=input()
type(data)

123

str

In [83]:
n=(input())
z=n.split(" ")   #here z is in list with string format
c=0
for i in z:   #here i is in string format
    c=c+int(i)  
print(c)

4 5 6
15

In [84]:
l=[1,2,3]
r=[]
for values in l:
    r.append(int(values))
    
r

[1, 2, 3]

In [101]:
data=input()
valuse=data.split(" ")  #['1','2','3']
intvalues=list(map(int,valuse))
sum(intvalues)

1 2 3

6

In [2]:
data=input()
z=data.split("+")  #split("+") when input seperates with '+' then only seperate the values
intvalues=list(map(int, z))  # in the input when it meets +
print(min(intvalues))
print(max(intvalues))

23+34+30
23
34

In [3]:
#t->number of test cases 3
#next t lines input()
#3
#4+5
#2+5+6
#5+9+10

t=int(input())
for i in range(t):
    li=list(map(int,input().split()))  #['1','2','3']
    print(sum(li))
#print(max(intvalues))
a

3
2 4 5
11
5 4 3
12
43 54 32
129